go 1.21.0

use ./grpc-basic

use jwt-work

use sqlite

use postgres

use gorm

use gorm-gorilla

use (
	./benchmark
	./errors
	./goroutines
	./swagger
	./telemetry
	./testing
	./websocket
	gorilla-mux
)
